In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn import metrics
import pandas as pd
from sklearn.svm import SVC
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
import warnings

In [3]:
df = pd.read_csv(r'E:\subjects cs 4\course AI\datasets\Admission_Predict_Classification.csv')

In [4]:
df.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Admitted
0,1,337,118,4,4.5,4.5,9.65,1,True
1,2,324,107,4,4.0,4.5,8.87,1,True
2,3,316,104,3,3.0,3.5,8.00,1,False
3,4,322,110,3,3.5,2.5,8.67,1,True
4,5,314,103,2,2.0,3.0,8.21,0,False

In [7]:
df.describe()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
count,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,200.500000,316.807500,107.410000,3.087500,3.400000,3.452500,8.598925,0.547500
std,115.614301,11.473646,6.069514,1.143728,1.006869,0.898478,0.596317,0.498362
min,1.000000,290.000000,92.000000,1.000000,1.000000,1.000000,6.800000,0.000000
25%,100.750000,308.000000,103.000000,2.000000,2.500000,3.000000,8.170000,0.000000
50%,200.500000,317.000000,107.000000,3.000000,3.500000,3.500000,8.610000,1.000000
75%,300.250000,325.000000,112.000000,4.000000,4.000000,4.000000,9.062500,1.000000
max,400.000000,340.000000,120.000000,5.000000,5.000000,5.000000,9.920000,1.000000

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Serial No.         400 non-null    int64
 1   GRE Score          400 non-null    int64
 2   TOEFL Score        400 non-null    int64
 3   University Rating  400 non-null    int64
 4   SOP                400 non-null    float64
 5   LOR                400 non-null    float64
 6   CGPA               400 non-null    float64
 7   Research           400 non-null    int64
 8   Admitted           400 non-null    bool
dtypes: bool(1), float64(3), int64(5)
memory usage: 25.5 KB

In [4]:
X = df.drop('Admitted', axis=1) 
y = df['Admitted']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [18]:
LR = LogisticRegression()

# Train the model 
LR.fit(X_train, y_train) 

# Make predictions 
y_pred = LR.predict(X_test)

# Calculate accuracy
accuracy = accuracy_score(y_test, y_pred)

print(f"Log Accuracy: {accuracy}")

print(confusion_matrix(y_test, y_pred))
print(classification_report(y_test, y_pred))

Log Accuracy: 0.8375
[[43  5]
 [ 8 24]]
              precision    recall  f1-score   support

       False       0.84      0.90      0.87        48
        True       0.83      0.75      0.79        32

    accuracy                           0.84        80
   macro avg       0.84      0.82      0.83        80
weighted avg       0.84      0.84      0.84        80

C:\Users\Khater\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [11]:
svmodel = SVC()

# Train the SVM model  
svmodel.fit(X_train, y_train)

# Make predictions    
sv_pred = svmodel.predict(X_test)

# Calculate SVM accuracy
svm_accuracy = accuracy_score(y_test, sv_pred)

print(confusion_matrix(y_test, sv_pred))
print(f"SVM Accuracy: {svm_accuracy}")
print(classification_report(y_test, sv_pred))

[[48  0]
 [14 18]]
SVM Accuracy: 0.825
              precision    recall  f1-score   support

       False       0.77      1.00      0.87        48
        True       1.00      0.56      0.72        32

    accuracy                           0.82        80
   macro avg       0.89      0.78      0.80        80
weighted avg       0.86      0.82      0.81        80